<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Play Battle! </title>
    <link rel="stylesheet" href='play.css' type='text/css'>
  </head>
<body>




  <h1> vs.</h1>
<div class="wrapper">

  <div class="entire_player_one">

    <div class="player_info" name="player_one_info">
      <h2>
        Corbynista Crew Member
      </h2>
      <h2>
        <%= @game.p1.name %>
      </h2>
        <img src='http://i.imgur.com/5kfz7kn.gif'>
    </div>

    <div class="player_dashboard" name="player_one_dashboard">
        <h2>
          HP: <%= @game.p1.hp %>
        </h2>
        <h2>
          <progress class="hp_bar" value="<%= @game.p1.hp %>" max="100"> </progress>
        </h2>
        <% if @game.p2.dead?  %>
          <form action= "/player_wins" id="left_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
        <% elsif @game.turn.even? %>
          <form action= "/attack1" id="left_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
        <% else %>
          <form action= "/wait_turn" id="left_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
          </h2>
        <% end %>
      </div>

    </div>


  <div class="entire_player_two">
    <div class="player_info" name="player_two_info">
        <h2>
          Silent Majority Member
        </h2>
        <h2>
        <%= @game.p2.name %>
      </h2>
        <img src='http://www.slate.com/content/dam/slate/blogs/slatest/2016/01/slatest_160128_trump8.gif.CROP.original-original.gif'>
    </div>
      <div class="player_dashboard" name="player_two_dashboard">
        <h2>
          HP: <%= @game.p2.hp %>
        </h2>
        <h2>
          <progress class = "hp_bar" value="<%= @game.p2.hp %>" max="100"> </progress>
        </h2>
        <% if @game.p2_won?  %>
          <form action= "/player_wins" id="right_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
        <% elsif @game.turn.odd? %>
          <form action= "/attack2" id="right_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
        <% else %>
          <form action= "/wait_turn" id="right_attack">
            <input type="submit" value="Attack@!£!$!%">
          </form>
        <% end %>
      </div>
  </div>
</div>






</html>
</body>

<!-- "color:#ff3333;size:6;text-align:center;" -->
